export(draw.inr)
export(split.date)
export(time.in.range)
export(calc.tir)
export(calc.sigma)
export(launch)
import(RJSONIO)
import(ggplot2)
import(httr)
import(stringr)
import(grid)
import(reshape2)
